@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: #e5e5e5;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000b5;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  filter: blur(10px);
  transition-property: filter, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  filter: none;
  pointer-events: initial;
}

.overlay.active + .grid {
  filter: blur(20px);
}

.overlay p {
  font-size: 8em;
  font-family: "Dancing Script", cursive;
  color: white;
}

.controls {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-100%, -50%);
}

.difficulty {
  font-size: 2rem;
  padding-top: 1rem;
}

.difficulty label {
  display: block;
  text-align: center;
  padding-bottom: 0.5rem;
}

/* https://codepen.io/silverdrop/pen/OJJREa */
.custom-select {
  --border-radius: 20px;

  background-color: white;
  width: fit-content;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding-left: var(--border-radius);
}

.custom-select select {
  color: black;
  font-size: inherit;
  padding: 5px;
  padding-right: 2.5em;
  border-radius: var(--border-radius);
  text-overflow: "";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.custom-select::before,
.custom-select::after {
  position: absolute;
  pointer-events: none;
}

.custom-select::after {
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
  color: rgba(0, 0, 0, 0.4);
}

.custom-select::before {
  content: "";
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.restart {
  border: 1px solid black;
  font-size: 2em;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem auto;
}

.restart:hover {
  color: white;
  background-color: black;
}

.grid {
  --cell-size: 200px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, var(--cell-size));
  grid-auto-rows: var(--cell-size);
  transition: filter 300ms ease-in-out;
}

.grid div {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid img {
  width: 70%;
  aspect-ratio: 1;
  filter: blur(10px);
  opacity: 0;
  transform: scale(2);
  transition-property: filter, opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.grid img.active {
  filter: none;
  opacity: 1;
  transform: none;
}

.grid .no-r-border {
  border-right: none;
}

.grid .no-b-border {
  border-bottom: none;
}

footer {
  height: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1rem;
  font-size: 1.3rem;
}

footer a {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
  margin: 0 auto;
}

footer a svg {
  height: 1.2em;
  transition: transform 300ms ease-in-out;
}

footer a:hover svg {
  transform: rotateZ(360deg) scale(1.2);
}
