@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
}

.grid {
  --cell-size: 200px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, var(--cell-size));
  grid-auto-rows: var(--cell-size);
  transition: filter 300ms ease-in-out;
}

.grid div {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid img {
  width: 70%;
  aspect-ratio: 1;
  filter: blur(10px);
  opacity: 0;
  transform: scale(2);
  transition-property: filter, opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.grid img.active {
  filter: none;
  opacity: 1;
  transform: none;
}

.grid .no-r-border {
  border-right: none;
}

.grid .no-b-border {
  border-bottom: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000b5;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  filter: blur(10px);
  transition-property: filter, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  filter: none;
  pointer-events: initial;
}

.overlay.active + .grid {
  filter: blur(20px);
}

.overlay p {
  font-size: 8em;
  font-family: "Dancing Script", cursive;
  color: white;
}
